* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#container {
  height: 100vh;
  background-image: linear-gradient(#780206, #061161);
  position: relative;
  padding-top: 2rem;
}

.linear {
  display: flex;
  justify-content: center;
}
.fa-chevron-left {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
}
.fa-chevron-right {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 0;
}
