/* .images {
  display: none;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 2em;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: slide 12s linear infinite alternate;
}
/* .quotes {
  animation: quoteSlide 12s linear infinite alternate;
}

.lion {
  display: none;
  background-color: white;
  width: 20%;
  line-height: 1.5rem;
  border-radius: 10px;
  padding: 1em;
}
.lion :nth-child(1) {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}
.lion :nth-child(2) {
  font-weight: 700;
} */
@keyframes slide {
  0% {
    background-image: url(./asset/butterfly.jpeg);
  }
  20% {
    background-image: url(./asset/fish.jpeg);
  }
  40% {
    background-image: url(./asset/lion.jpeg);
  }
  60% {
    background-image: url(./asset/penguin.webp);
  }
  80% {
    background-image: url(./asset/squirrel.jpeg);
  }
  100% {
    background-image: url(./asset/turtle.jpeg);
  }
}
.fa-chevron-left {
  font-size: 2.5rem;
}
.fa-chevron-right {
  font-size: 2.5rem;
}
.chevs {
  display: flex;
  height: 100vh;
  padding: 0.5em;
  align-items: center;
  justify-content: space-between;
}
