* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: orange;
  padding: 1em;
}
.nav-links ul {
  display: flex;
  gap: 2em;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: orange;
}
.carousel-caption h1,
p {
  color: orange;
}
.carousel-item img {
  height: 500px;
  object-fit: cover;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-img-top {
  height: 300px;
}
.card {
  margin: 1em;
}
.categories {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}
